DATABASE_URL=""
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""
# NEXTAUTH_URL="http://192.168.1.83:3000"
GEMINI_KEY=""
GEMINI_MODEL="gemini-3-flash-preview"
UPLOADTHING_TOKEN=""

UNSPLASH_ACCESS_KEY=""

